Repository Retrospring/retrospring, pull requests merged in 2023-12, with the labels that each got.

#1501 Add note to follower asking modal if on a user profile
  app/javascript/retrospring/controllers/questionbox_focus_controller.ts
  app/javascript/retrospring/initializers/stimulus.ts
  app/views/application/_questionbox.html.haml
  app/views/modal/_ask.html.haml
  config/locales/views.en.yml
Labels: bugfix

#1442 Split up question worker to send to an individual user rather than to all followers
  app/controllers/ajax/question_controller.rb
  app/workers/question_worker.rb
  app/workers/send_to_inbox_job.rb
  lib/use_case/question/create_followers.rb
  spec/controllers/ajax/question_controller_spec.rb
  spec/lib/use_case/question/create_followers_spec.rb
  spec/workers/send_to_inbox_job_spec.rb
Labels: refactor

#1512 Add option to send question to own inbox
  app/controllers/ajax/question_controller.rb
  app/javascript/retrospring/features/questionbox/all.ts
  app/views/modal/_ask.html.haml
  config/locales/views.en.yml
  lib/use_case/question/create_followers.rb
  spec/controllers/ajax/question_controller_spec.rb
Labels: feature
